---
import logo from "../assets/img/nav/LOGO.svg";
import pdf from "../assets/document/BrayanCardenas-FrontendDeveloper.pdf";
---

<section class="nav">
  <div class="nav__menu">
    <a href="#"
      ><img
        class="menu__logo"
        src="../../public/img/header/LOGO.svg"
        alt=""
      /></a
    >
    <nav>
      <ul>
        <li class="menu__navegation">
          <a href="/home">Acerca de</a>
        </li>
        <li class="menu__navegation">
          <a href="/works">Proyectos</a>
        </li>
        <li class="menu__navegation">
          <a href="/skills">Habilidades</a>
        </li>
      </ul>
    </nav>
    <button>
      <a
        class="menu__button"
        href="#"
        target="_blank"
        rel="noreferrer noopener">CV</a
      >
    </button>
  </div>

  <section class="nav__rrss">
    <ul class="rrss__rs">
      <li>
        <a
          href="https://github.com/BrayanCardenas"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
            ><g
              ><path d="M0 0h24v24H0z" fill="none"></path><path
                d="M5.883 18.653c-.3-.2-.558-.455-.86-.816a50.32 50.32 0 0 1-.466-.579c-.463-.575-.755-.84-1.057-.949a1 1 0 0 1 .676-1.883c.752.27 1.261.735 1.947 1.588-.094-.117.34.427.433.539.19.227.33.365.44.438.204.137.587.196 1.15.14.023-.382.094-.753.202-1.095C5.38 15.31 3.7 13.396 3.7 9.64c0-1.24.37-2.356 1.058-3.292-.218-.894-.185-1.975.302-3.192a1 1 0 0 1 .63-.582c.081-.024.127-.035.208-.047.803-.123 1.937.17 3.415 1.096A11.731 11.731 0 0 1 12 3.315c.912 0 1.818.104 2.684.308 1.477-.933 2.613-1.226 3.422-1.096.085.013.157.03.218.05a1 1 0 0 1 .616.58c.487 1.216.52 2.297.302 3.19.691.936 1.058 2.045 1.058 3.293 0 3.757-1.674 5.665-4.642 6.392.125.415.19.879.19 1.38a300.492 300.492 0 0 1-.012 2.716 1 1 0 0 1-.019 1.958c-1.139.228-1.983-.532-1.983-1.525l.002-.446.005-.705c.005-.708.007-1.338.007-1.998 0-.697-.183-1.152-.425-1.36-.661-.57-.326-1.655.54-1.752 2.967-.333 4.337-1.482 4.337-4.66 0-.955-.312-1.744-.913-2.404a1 1 0 0 1-.19-1.045c.166-.414.237-.957.096-1.614l-.01.003c-.491.139-1.11.44-1.858.949a1 1 0 0 1-.833.135A9.626 9.626 0 0 0 12 5.315c-.89 0-1.772.119-2.592.35a1 1 0 0 1-.83-.134c-.752-.507-1.374-.807-1.868-.947-.144.653-.073 1.194.092 1.607a1 1 0 0 1-.189 1.045C6.016 7.89 5.7 8.694 5.7 9.64c0 3.172 1.371 4.328 4.322 4.66.865.097 1.201 1.177.544 1.748-.192.168-.429.732-.429 1.364v3.15c0 .986-.835 1.725-1.96 1.528a1 1 0 0 1-.04-1.962v-.99c-.91.061-1.662-.088-2.254-.485z"
                fill-rule="nonzero"></path></g
            ></svg
          >
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/brayancardenas34"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
            ><g
              ><path d="M0 0h24v24H0z" fill="none"></path><path
                d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"
                fill-rule="nonzero"></path></g
            ></svg
          >
        </a>
      </li>
    </ul>
    <a
      href="mailto:brayansti34@gmail.com"
      target="_blank"
      rel="noreferrer noopener"
      class="rrss__email">contactame@gmail.com</a
    >
  </section>
</section>
<div class="hamburger" (click)="setActive()" [ngClass]="{'open': active}">
  <div class="hamburger__line hamburger__line--half hamburger__line--start">
  </div>
  <div class="hamburger__line"></div>
  <div class="hamburger__line hamburger__line--half hamburger__line--end"></div>
</div>

<style>
  .nav__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 3.5em 2em;
  }
  .nav__rrss {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 3.5em 2em;
  }

  .menu__button {
    padding: 0.7em 2em;
    color: var(--azul);
    border: 1px var(--azul) solid;
    cursor: pointer;
  }
  .menu__button:hover {
    background: var(--azul);
    color: var(--negro);
    font-weight: 600;
  }
  .menu__logo {
    width: 5.6em;
  }
  .menu__navegation {
    margin: 2em 0;
  }
  .menu__navegation a {
    cursor: pointer;
  }
  .menu__navegation.activo {
    color: var(--azul);
  }

  .rrss__email {
    color: var(--azul);
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
  }
  .rrss__rs svg {
    width: 1.4em;
    fill: var(--blanco);
    margin-bottom: 1em;
  }
  .rrss__rs svg:hover {
    fill: var(--azul);
  }

  @media screen and (max-width: 960px) {
    .nav {
      background: var(--negro);
      position: absolute;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 100vh;
      z-index: 1;
      gap: 3em;
      opacity: 0;
      pointer-events: none;
      text-align: center;
      transform: scale(0.5);
      transition: all 330ms ease-out;
    }
    .nav.open {
      pointer-events: auto;
      opacity: 1;
      transform: scale(1);
      transition: all 330ms ease-out;
    }
    .nav__menu {
      position: static;
      font-size: 1.25em;
      margin: 0em 0em;
    }
    .nav__rrss {
      position: static;
      margin: 0em 0em;
      gap: 1em;
    }
    .rrss__email {
      writing-mode: horizontal-tb;
      font-size: 1em;
    }
    .rrss__rs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 2em;
    }
    .rrss__rs svg {
      width: 2em;
    }
    .hamburger {
      position: fixed;
      z-index: 1;
      right: 2em;
      bottom: 2em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 4em;
      height: 4em;
      padding: 1em;
      background: var(--negro);
      border-radius: 100%;
      box-shadow:
        9px 9px 17px #1b1b1b,
        -9px -9px 17px #353535;
      cursor: pointer;
      transition: transform 330ms ease-out;
    }
    .hamburger.open {
      transform: rotate(-45deg);
    }
    .hamburger.open .hamburger__line--start {
      transform: rotate(-90deg) translateX(2px);
      -webkit-transform: rotate(-90deg) translateX(2px);
      -moz-transform: rotate(-90deg) translateX(2px);
      -ms-transform: rotate(-90deg) translateX(2px);
      -o-transform: rotate(-90deg) translateX(2px);
    }
    .hamburger.open .hamburger__line--end {
      transform: rotate(-90deg) translateX(-3px);
    }
    .hamburger__line {
      background-color: #fff;
      border-radius: 5px;
      width: 100%;
      height: 4px;
    }
    .hamburger__line--end {
      align-self: flex-end;
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left;
    }
    .hamburger__line--half {
      width: 50%;
    }
    .hamburger__line--start {
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: right;
    }
  }
</style>
