---
import SkillsImg from "../components/SkillsImg.astro";
---

<section class="skills" id="skills">
  <div class="skills__type">
    <div>
      <h2 class="skills__title">Tecnologías que manejo</h2>
    </div>    
    <div class="skills__group">  
      <SkillsImg handling="manejo" />
    </div>
  </div>
      
  <div class="skills__type">
    <div>
      <h2 class="skills__title">Estoy Aprendiendo</h2>
    </div>
    <div class="skills__group"> 
      <SkillsImg handling="aprendiendo" x />
    </div>  
  </div>
</section>

<style>
  .skills {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 53em;
    gap: 3em;
  }
  .skills__type {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
  }
  .skills__title {
    font-family: var(--tipo-secundaria);
    font-size: 1.2em;
    line-height: normal;
  }
  .skills ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
  }
  .skills ul li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    color: var(--azul);
  }

  @media screen and (max-width: 1190px) {
    .skills {
      max-width: 50em;
    }
  }
  @media screen and (max-width: 960px) {
    .skills {
      width: 100%;
    }
  }
</style>
